* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
:root {
  max-width: 100vw;
  overflow-x: hidden;
}

.desktopItemLink {
  display: flex;
  column-gap: 12px;
  border-radius: 6px;
  padding: 12px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: rgb(107 114 128);
}

.desktopItemLink:hover {
  color: black;
  background-color: rgb(243 244 246);
}

.desktopItemLinkActive {
  color: black;
  background-color: rgb(243 244 246);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

